* {
    padding: 0;
    margin: 0;
}


.accordion-item-custom {
    border-left: solid 1px black !important;
    border-right: solid 1px black !important;
}

.login-card {
    text-align: left;
    width: 30vw;
    margin-left: 10vw;
}

.loading-spinner {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.error-message-login {
    color: red;
    font-weight: bold;
}

.hidden-item {
    display: none;
}

.table-expansion {
    text-align: left;
}

.td-row-expanded-left {
    border-left: solid 1px black !important;
}

.td-row-expanded-right {
    border-right: solid 1px black !important;
}

.td-row-expanded-top {
    border-top: solid 1px black !important;
}

.border-red {
    border: 2px solid red;
}

.plan-filled {
    color: green;
}

.plan-to-fill {
    color: red;
}

.yellow-text {
    color: goldenrod;
    font-weight: bold;
}

.selected-row {
    background-color: #cdf1ff;
}

.homepage-text {
    text-align: left;
    padding-left: 10vw;
}

h1 {
    margin-bottom: -2rem !important;
}

.create-your {
    font-size: 3.3rem;
}

.color-nav {
    background-color: #34a853;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-brand {
    color: white !important;
}

.App {
    text-align: center;
}

#study-plan {
    margin-bottom: -2rem !important;
}

.title-page {
    font-size: 6.5rem;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.7) !important;
}

.selected-menu {
    color: rgba(255, 255, 255, 0.7) !important
}

.course-table {
    max-height: 70vh;
    overflow-y: scroll;
}

.footer {
    background-color: rgb(200, 200, 200);
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
}

.App {
    margin-bottom: 30px;
}
